<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>
		<%- include('./partials/header') %>
			<!-- Novedades -->
			<main class="mainRegister"></main>
			<div class="col-12">
				<h2 class="products-title">Inicia sesión</h2>
			</div>
			<div class="container__form">
				<img src="/images/logo.png" alt="">
				<form class="form-data" action="/users/profile" method="get">
					<div class="contenedor-input">
						<input class="form-input" type="email" placeholder="Correo eletrónico" required>
						<label class="form-label" for="nombreDeUsuario"></label>
					</div>

					<div class="contenedor-input">
						<input class="form-input" type="password" placeholder="Contraseña" required>
						<label class="form-label" for="contraseña"></label>
					</div>

					<div class="contenedor-input__checkbox">
						<input class="form-input__checkbox" type="checkbox" value="Recordarme">
						<label class="form-label" for="recordarme">Recordarme</label>
					</div>
					<div class="contenedor-input1">
						<input class="form-input__button" type="submit" value="Iniciar sesion">
						<label class="form-label" for="iniciarSesión"></label>
					</div>
				</form>
			</div>
			</main>

			<%- include('./partials/footer') %>
	</body>
	<script src="/js/uikit.min.js"></script>
	<script src="/js/header-scroll.js"></script>

</html>