<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/headerLogueado') %>
	<main class="mainRegister"></main>
	<form action="" method="get"> 

		<h3>Imagen</h3>
		<div class="contenedor-input">
	
			<label for="Imagen"></label>
			<input type="file" name="file" id="miFoto" value=""> 
		</div>

		<h3>Nombre del Producto</h3>
		<div class="contenedor-input">
		
			<label for="miNombre"></label>
			<input type="text" name="Nombre" id="miNombre" value="">
		</div>

		<h3>Descripcion</h3>            
		<div class="contenedor-input">

			<label for="descripcion"></label>
			<input type="text" name="descripcion" id="miDescripcion" value=""> 

		</div>


		<div class="contenedor-input1">
			<label for="Registrar"></label>
			<input type="button" value="Registrarme">
		
			<label for="Cancelar"></label>
			<input type="reset" value="Cancelar">
		</div>
	</form>
</main>
    <%- include('./partials/footer') %>
</body>
<script src="/js/uikit.min.js"></script>
<script src="/js/header-scroll.js"></script>
</html>