<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<main class="mainRegister"></main>
	<form action="" method="get"> 

		<h3>Usuario</h3>
		<div class="contenedor-input">
	
			<label for="miEmail"></label>
			<input type="email" name="email" id="miEmail" value=""> 
		</div>

		<h3>Contraseña</h3>            
		<div class="contenedor-input">

			<label for="miContra"></label>
			<input type="password" name="password" id="miContra" value=""> 

		</div>

		<h3>Recordarme</h3>            
		<div class="contenedor-input">
			<label for="Recordarme"></label>
			<input type="checkbox" value="Recordarme">

		</div>


		<div class="contenedor-input1">
			<label for="Registrar"></label>
			<input type="button" value="Registrarme">
		
			<label for="Cancelar"></label>
			<input type="reset" value="Cancelar">
		</div>
	</form>
</main>
	</main>
</body>
</html>