<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
			<main class="mainRegister"></main>
				<form action="" method="get"> 

					<h3>Email</h3>
					<div class="contenedor-input">
				
						<label for="miEmail"></label>
						<input type="email" name="email" id="miEmail" value=""> 
					</div>

					<h3>Usuario</h3>
					<div class="contenedor-input">
					
						<label for="miNombre"></label>
						<input type="text" name="Nombre" id="miNombre" value="">
					</div>
		
					<h3>Contraseña</h3>            
					<div class="contenedor-input">
		
						<label for="miContra"></label>
						<input type="password" name="password" id="miContra" value=""> 

					</div>

					<h3>Fecha de nacimiento</h3>
					<div class="contenedor-input">
					
						<label for="miFecha"></label>
						<input type="number" name="Fecha" id="miFecha" value="">
					</div>

					<h3>Nro de documento</h3>
					<div class="contenedor-input">
					
						<label for="miDNI"></label>
						<input type="number" name="DNI" id="miDNI" value="">
					</div>

					<h3>Usuario</h3>
					<div class="contenedor-input">
					
						<label for="miNombre"></label>
						<input type="text" name="Nombre" id="miNombre" value="">
					</div>

					<div class="contenedor-input1">
						<label for="Registrar"></label>
						<input type="button" value="Registrarme">
					
						<label for="Cancelar"></label>
						<input type="reset" value="Cancelar">
					</div>
				</form>
			</main>
			
			</h2>
    <%- include('./partials/footer') %>
</body>
</html>